<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Service box</title>
</head>
<body>
<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h3 class="fw-bold fs-1">
            Nos
            <span class="b-class-secondary">Fontionnalités</span> & services
          </h3>
         
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
                <img src="assets/Cours.png" alt="cours">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <a href="/cours1" class="link">
            <h3>COURS EN LIGNE</h3>
            <p>
                Accédez à une bibliothèque de cours gratuits et payants créés par des étudiants pour des étudiants ! Apprenez à votre rythme grâce à des vidéos, des documents PDF et des exercices interactifs.
            </p>
          </a>
          </div>
        </div>

        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
                <img src="assets/QCM.png" alt="QCM">
              <i class="fa-solid fa-arrows-down-to-people"></i>
            </div>
            <a href="/cours1" class="link">
            <h3>TD/TP & EXAMEN  </h3>
            
            <p>
             Voir et télécharger les TD, TP ainsi que les examens publiés par les formateurs.
            </p>
            </a>
            
          </div>
        </div>

        <div class="col" (click)="openModal()">
          <div class="modal-content">
    </div>
          <div class="service-card">
            <div class="icon-wrapper">
                <img src="assets/live.png" alt="live">
              <i class="fa-solid fa-globe"></i>
            </div>
            <h3>LIVE INTERACTIFS</h3>
            <p>
  
                Participez à des sessions en direct animées par des formateurs. Posez vos questions en temps réel via le chat, téléchargez les PDF partagés et interagissez avec le formateur. Un moyen immersif et dynamique d’apprendre !
            </p>
            <div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-content">
    <div class=container1>
    <span>Veuillez vous vous inscrire</span>
    <br> <br>
   <a href="/inscrire">S'inscrire</a>
  </div></div></div>
          </div>
        </div>

        
     
<div class="col" (click)="openModal()">
          <div class="service-card">
            <div class="icon-wrapper">
                <img src="assets/orientation.png" alt="orientation">
              <i class="fa-solid fa-people-group"></i>
            </div>
            <h3>COACHING ET ORIENTATION</h3>
            <p>
                Besoin de conseils pour votre parcours académique ou professionnel ? Nos tuteurs et mentors vous accompagnent dans votre orientation, vos méthodes d’apprentissage et vos projets futurs. 
            </p>
            <div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-content">
    <div class=container1>
    <span>Veuillez vous vous inscrire</span>
    <br> <br>
   <a href="/inscrire">S'inscrire</a>
  </div></div></div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
</body>
</html>