<app-db-navbar></app-db-navbar>
<app-db-sidebar-for *ngIf="user.etat == 'formateur'"></app-db-sidebar-for> 
<app-db-sidebar *ngIf="user.etat == 'admin'"></app-db-sidebar>
<app-db-sidebar-etu *ngIf="user.etat == 'etudiant'"></app-db-sidebar-etu>
<body>
<!-- Modal d'ajout -->
<div class="btn">
  <button (click)="openModal('add')"  *ngIf="user.etat && (user.etat == 'formateur' || user.etat == 'admin')">Ajouter un module d'enseignement</button>
    <button (click)="openModal('delete')" class="sup" *ngIf="user.etat && (user.etat == 'formateur')">Supprimer mes modules</button>
</div>

<div class="modal-backdrop" *ngIf="showAddModal">
  <div class="modal-content">
    <div class="container">
      <h2>AJOUTER UN MODULE</h2>
      <form (ngSubmit)="submitCours()">
        <label>Titre du cours :</label>
        <input type="text" [(ngModel)]="nouveauCours.titre" name="titre" required>

        <label>Filière :</label>
        <select [(ngModel)]="nouveauCours.filiere" name="filiere">
          <option>SMA</option><option>SMI</option><option>SMP</option>
          <option>SMC</option><option>SVI</option><option>STU</option>
        </select>

        <label>Niveau :</label>
        <select [(ngModel)]="nouveauCours.niveau" name="niveau">
          <option>S1</option><option>S2</option><option>S3</option>
          <option>S4</option><option>S5</option><option>S6</option>
        </select>

        <label>Type :</label>
        <select [(ngModel)]="nouveauCours.type" name="type" (change)="onTypeChange()">
          <option>Gratuit</option><option>Payant</option>
        </select>

         <div *ngIf="nouveauCours.type == 'Payant'">
       <label>Prix (DH) :</label>
       <input type="number" [(ngModel)]="nouveauCours.prix" name="prix" min="0">
       </div>

        <label>Type de document :</label>
        <select [(ngModel)]="nouveauCours.documentType" name="documentType">
         <option>Cours</option><option>TD</option><option>TP</option><option>Examen</option>
        </select>

        <label>Fichier PDF :</label>
        <input type="file" (change)="onFileSelected($event)" required>

        <div class="modal-buttons">
          <button type="submit">Ajouter</button>
          <button type="button" (click)="closeModal('add')">Annuler</button>
        </div>
      </form>
      <div *ngIf="message" class="message">{{ message }}</div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="showDeleteModal">
  <div class="modal-content">
    <div class="container1">
      <h2>SUPPRIMER MES COURS</h2>
      <ul>
        <li *ngFor="let cours of courses" class="cours-item">
          <div class="info-container">
            <div class="cours-info">
              <strong>{{ cours.titre }}</strong> – {{ cours.filiere }}/{{ cours.niveau }} / {{ cours.documentType }} {{ cours.type }}
              <div class="Payant" *ngIf="cours.type=='Payant'">
                <p> / <span>{{ cours.prix }} DH</span></p>
              </div></div>
              <div class="ad"> <button (click)="SupprimerCours(cours)" class="del"><mat-icon>delete</mat-icon></button></div>
          </div>


        </li>
      </ul>
      <div class="modal-buttons1">
        <button type="button" (click)="closeModal('delete')">Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Barre de recherche -->
<div class="search-bar">
  <input type="text" [(ngModel)]="rechercheCours.titre" placeholder="Rechercher par titre">
  <select [(ngModel)]="rechercheCours.filiere">
    <option value="">Toutes les filières</option>
    <option>SMA</option><option>SMI</option><option>SMP</option>
    <option>SMC</option><option>SVI</option><option>STU</option>
  </select>

  <select [(ngModel)]="rechercheCours.niveau">
    <option value="">Tous les niveaux</option>
    <option>S1</option><option>S2</option><option>S3</option>
    <option>S4</option><option>S5</option><option>S6</option>
  </select>

  <select [(ngModel)]="rechercheCours.type">
    <option value="">Tous les types</option>
    <option>Gratuit</option><option>Payant</option>
  </select>

   <select [(ngModel)]="rechercheCours.documentType">
    <option value="">Tous les types de document</option>
    <option>Cours</option><option>TD</option><option>TP</option><option>Examen</option>
  </select>

  <button (click)="appliquerFiltre()"><mat-icon>search</mat-icon></button>
</div>





<ul>
  <li *ngFor="let cours of coursFiltresAppliques" class="cours-item">
    <div class="info-container">
      <div class="cours-info">
        
        <strong>{{ cours.titre }}</strong> - {{ cours.filiere }} / {{ cours.niveau }} / {{ cours.documentType }} {{ cours.type }}
        <span *ngIf="cours.type === 'Payant'">/ {{ cours.prix }} DH</span>
      </div>

      <!-- Boutons d'action (paiement, voir, télécharger) -->
   <div class="actions">

        <!-- Paiement -->
        <div *ngIf="cours.type === 'Payant' && !cours.isPaid" class="paiement-section">
          <div class="actions">
          <button (click)="methode(cours)" [disabled]="paymentProcessing" class="payer">
            {{ paymentProcessing && selectedCourseId === cours.id ? 'Paiement...' : 'Payer' }}
          </button></div>

          <!-- Modal PayPal -->
          <div class="modal-backdrop2" *ngIf="showPayerModal && selectedCourseId === cours.id">
            <div class="modal-content">
              <div class="container">
                <div [id]="'paypal-button-' + cours.id"></div>
                <div class="modal-buttons2">
                  <button type="button" (click)="closeModal('payer')">Annuler</button>
                </div>
              </div>
            </div>
          </div>
        </div>

     

      
<div class="like"> 
<mat-icon
  (click)="toggleLike(cours.id)"
  [ngStyle]="{
    'color': likedCourses[cours.id] ? 'red' : 'gray',
    'font-size': '32px',
    'cursor': 'pointer',
  }"
>
thumb_up
</mat-icon>


<span>{{ likesCount[cours.id] || 0 }}</span>
</div>
        
        <div class="ad">
          <div *ngIf="cours.isPaid || cours.type=='Gratuit'" class="access-section">
        <button (click)="ouvrirPdff(cours.pdfUrlView)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="telechargerPdff(cours.pdfUrlDownload)">
          <mat-icon>download</mat-icon>
        </button></div>
         <button *ngIf="user.etat=='admin'" (click)="SupprimerCours(cours)"class="del">
          <mat-icon>delete</mat-icon>
        </button>
     </div> 
 </div>
      </div>
    
  </li>
</ul>

 





 
</body>