<app-db-navbar></app-db-navbar>
<app-db-sidebar-for></app-db-sidebar-for>
<body>
    <div class="container">
   
    <p><strong> Bonjour {{ user.nom }} {{ user.prenom }},</strong><br><br>
Bienvenue dans votre espace formateur !<br>
Ici, vous avez le contrôle total sur vos cours : créez, planifiez et lancez facilement des sessions en direct, tout en restant connecté grâce aux rappels par notification.<br>
En partageant vos connaissances, vous contribuez à une communauté étudiante engagée, où l’entraide fait la force.<br>
Merci d’être un pilier de cette belle aventure d’apprentissage collaboratif ! <br>

<br><strong>— L’équipe de la plateforme</strong></p></div>
</body>
