body {
   
    text-align: center;
  height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  
   }
   .container {
       padding: 10px;
       text-align: center;
       width: 490px;
       position: absolute;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       color: white; /* تغيير لون الكتابة إذا كانت الصورة مظلمة */
       z-index: 2; /* لرفع الكتابة فوق الصورة */
       margin-top: 312px;
      
   }
   
   h2 {
       color:purple;
     }
   
   p {
       font-size: 14px;
       color: grey;
       margin-top: 15px;
       margin-bottom: 20px;

   }
   .input-box {
       width: 50%;
       height: 10vh;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-shrink: 0;
       padding-left: 200px;
       color: rgb(154, 12, 35);
   
   }
   input {
    width: 100%;
    padding: 10px;
    margin-top: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
   
   .buttons {
       margin-top: 15px;
       display: flex;
       justify-content: space-between;
   }
   .btn {
       padding: 10px 20px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       font-size: 16px;
   }
   .btn.cancel {
       background: #ccc;
       cursor: pointer;
       margin-left: 10px ;
         border-radius: 20px;
          padding: 5px ;
           width : 50%;
           margin-top: 10px;

          
   }
   .btn.confirm {
       background: purple;
       color: white;
       cursor: pointer;
       margin-left: 10px ;
         border-radius: 20px;
          padding: 5px ;
           width : 50%;
           margin-top: 10px;
          
   }
 
  
   
   .image{
  position: relative;
  width: 100%;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100vh;
position: relative;
  display: block;
}
   .input-code{
       width: 50px;
     text-align: center;  /* خلي النص في الوسط */
     font-size: 20px;     /* خلي حجم الخط كبير بما يكفي */
     color: black; 
     justify-content: space-between;  
       height: 6vh;
       justify-content: center;
       align-items: center;
       line-height: 50px;
       direction: ltr;
       
   }
   .input-box input[type=text] {
       color: rgb(7, 6, 6);
       background-color: rgb(212, 207, 207);
       
       margin: 15px;
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       visibility: visible; 
     opacity: 1;
     pointer-events: auto; 
     text-align: center !important;
     font-size: 17px;
     justify-content: center;
     align-items: center;
     width: 50px;
     direction: ltr;
     line-height: 50px;
     
   }
  .code-link{
    outline: none;
    cursor: pointer;
    border: none;
    background: none;  display: block;
    margin-top:13px;
    margin-left: 183px;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
 