<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="oublier-mdp.component.css">
    <title>Vérification du Code</title>
    
</head>
<a routerLink="/oublier-mdp" class="mot-de-passe-oublie-link">
   
</a>
<div class="image">
<img src="/assets/log-landing-Photoroom (1) (1).png" alt="img-login">
</div>

<div class="password-recovery-container">
  <h2>TROUVEZ VOTRE COPMPTE</h2>n
  <p>Veuillez entrer votre e-mail .</p>

  <input type="text" [(ngModel)]="email" placeholder="E-mail" class="input-field" />
  <div class="button-group">
    <button class="cancel-btn" routerLink="/connecter">Annuler</button>
    <button class="search-btn" (click)="sendCode()">Rechercher</button>

  </div>
</div> 