<app-db-navbar></app-db-navbar>
<app-db-sidebar-etu *ngIf="user.etat == 'etudiant'"></app-db-sidebar-etu>
<app-db-sidebar-for *ngIf="user.etat == 'formateur'"></app-db-sidebar-for> 
<app-db-sidebar *ngIf="user.etat == 'admin'"></app-db-sidebar>
<body>
<div class="container">
    <div class="photo">
<img [src]=" photoPreview ? photoPreview :  profilePhotoUrl" alt="Photo de profil">
    </div>
    <!-- Bouton de sélection de photo -->
  <div *ngIf="!photoPreview" class="modification">
    <button type="button" (click)="fileInput.click()">Changer ma photo</button>
        <input type="file" #fileInput (change)="onPhotoSelectionnee($event)" style="display: none;" />
        <button *ngIf="user.photoUrl" (click)="supprimerPhoto()">Supprimer ma photo</button>
        </div>

    <!-- Boutons Confirmer / Annuler après sélection d'une nouvelle photo -->
    <div *ngIf="photoPreview" class="modification">
      <button (click)="uploadPhoto()">Confirmer</button>
      <button (click)="annulerPhoto()">Annuler</button>
    </div>
    <hr>
    <div *ngIf="user" class="info">
    <p><strong>Nom :</strong> {{ user.nom }}</p>
<p><strong>Prénom :</strong> {{ user.prenom }}</p>
<p><strong>Role :</strong> {{ user.etat }}</p>
<p><strong>Numéro de téléphone :</strong> {{ user.numTelephone }}</p>
<p><strong>Email :</strong> {{ user.email }}</p>
    </div>
    <hr/> <form *ngIf="show"><button class="passwd" (click)="showPasswordForm = true" (click)="startPasswordReset()" >Modifier le mot de passe</button></form>

    <form *ngIf="showPasswordForm">
      
      <div class="input">
        <input type="text" [(ngModel)]="codeDigits" name="code" placeholder="Code de vérification" required>
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" placeholder="Nouveau mot de passe">
  <button type="button" (click)="toggleShowPassword()" class="visibility"><mat-icon>visibility</mat-icon></button>

  <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmer mot de passe">
  <button type="button" (click)="toggleShowConfirmPassword()" class="visibility"><mat-icon>visibility</mat-icon></button></div>
  <button (click)="resetPassword()" class="env">Envoyer</button>
 
    </form>
</div>

  


</body>