<body>
    <div class="dashboard-container" [class.sidebar-collapsed]="isSidebarCollapsed">
      
      <!-- 🟣 Sidebar -->
       <div class="nav">
      <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
        <button class="menu-toggle" (click)="toggleSidebar()">
          <mat-icon>{{ isSidebarCollapsed ? 'menu' : 'close' }}</mat-icon>
        </button>
        <h2>Formateur</h2>
    
          <ul class="menu">
            <li class="active">
              <a routerLink="/db-formateur">
                <mat-icon>home</mat-icon>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a routerLink="/etudiant">
                <mat-icon>school</mat-icon>
                <span>Étudiant</span>
              </a>
            </li>
            <li>
                <a routerLink="/live">
                  <mat-icon>video_call</mat-icon>
                  <span>Live</span>
                </a>
              </li>
            <li>
              <a routerLink="/cours">
                <mat-icon>book</mat-icon>
                <span>Cours</span>
              </a>
            </li>
            <li>
              <a routerLink="/paiement">
                <mat-icon>payment</mat-icon>
                <span>Paiement</span>
              </a>
            </li>
            <li>
                <a routerLink="/planning">
                  <mat-icon>calendar_month</mat-icon>
                  <span>Planning</span>
                </a>
              </li>
            <hr>
            <li>
              <a (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Déconnecter</span>
              </a>
            </li>

          </ul>
      </div>
      </div>
     
    </div>
    </body>
    