<app-db-navbar></app-db-navbar>
<app-db-sidebar-etu></app-db-sidebar-etu>
<body>
    <div class="container">
    <p> 
<strong>Bonjour {{ user.nom }} {{ user.prenom }},</strong><br><br>
Bienvenue dans votre espace personnel !<br>
Ici, vous pouvez accéder aux cours, rejoindre des sessions en direct animées par d’autres formateur, poser vos questions et apprendre à votre rythme.<br>

Ensemble, construisons une communauté où chacun apprend et fait progresser les autres<br><br>

<strong>— L’équipe de la plateforme</strong></p></div>
</body>
