body{
  width:auto;
  margin-top: 74px;
  padding-bottom: 0.5px;
  background-color: whitesmoke;
  height: 1;
}
table{
  border: none;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: white;
  border-color: rgb(231, 231, 229);
}
th{
  background-color:  rgb(127, 13, 180);
  color: whitesmoke;
}
button{
  font-size: 1px;
  border: none;
  border-radius: 5px;
  background-color: rgb(127, 13, 180);
  margin-top: 5px;
  margin-right: 3px;
   margin-left: 3px;
  color: whitesmoke;
}
.rect{
margin-top: 10px;
width: 1259px;
padding: 30px;
background-color:rgb(255, 255, 255) ;
border-radius: 10px;
margin-left: 80px;
margin-bottom: 15px;
 
}

input{
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
input:focus, input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid rgba(161, 42, 155, 0.5); /* Bordure orange au focus */
}
label{
  text-align: left;
  margin-left: 140px;
  margin-bottom: 5px;

}
form button{
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color:rgb(127, 13, 180);
  color: whitesmoke;
   margin-left: 70px;
   padding: 7px;
   font-size: 18px;
   outline: none;
}
mat-icon{
  font-size: 19px;
  padding-top: 2px;
}
h5,h1,h3{
  color: rgb(127, 13, 180);
}

.table-bordered tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur grise pour les lignes paires */
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
  .btn button{
    margin-left: 70px;
    width: 250px;
    height: 100%;
    font-size: 22px;
    padding: 5px;
    margin-top: 30px;
  }
  .btn{
    border: none;
   }