
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="accueil.component.css">

    
    <title>L'accueil</title>

</head>

<body>
<div class="hero">
  <img src="assets/photo-accueil.jpeg" alt="Home Image" class="hero-image">
  <div class="hero-text">
    <h3>En ligne</h3>
    <h1>Education</h1>
    <p>&nbsp; Bienvenu sur notre application web ! <br>Souhaitez-vous améliorer votre niveau universitaire ?<br> Alors inscrivez-vous . </p>
    <button class="button-1"><a routerLink="/inscrire">INSCRIRE</a></button>
    <button class="button-2"><a routerLink="/connecter">CONNECTER</a></button>

  </div>
</div>

  </body>
  
    </html>
 
   


