<div class="image">
<img src="/assets/log-landing-Photoroom (1) (1).png" alt="img-login">
</div>


<div class="password-recovery-container">
 <h2>REINITIALISER LE MOT DE PASSE</h2>
 


  
<div class="rr">
  <label>Nouveau mot de passe :</label>
  <div class="password-field">
   <input
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="newPassword"
    name="newPassword"
    class="input-field"
    required
    placeholder="Nouveau mot de passe"
  />
  <i class="eye-icon" (click)="toggleShowPassword()"><mat-icon>visibility</mat-icon></i>

  </div>

  <label>Confirmer le mot de passe :</label>
  <div class="password-field">

      <input
    [type]="showConfirmPassword ? 'text' : 'password'"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    class="input-field"
    required
    placeholder="Confirmer le mot de passe"
  />
  <i class="eye-icon" (click)="toggleShowConfirmPassword()"><mat-icon>visibility</mat-icon></i>


  </div>
</div>

<div class="button">
  <button (click)="resetPassword()">Envoyer</button>
</div>
</div>